:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --as-main-button-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-hover-text: rgba(255, 255, 255, 1);
  --social-base-color: #afb1b8;
}

/* body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, VHelvetica Neue, sans-serif;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-left: auto;
  margin-right: auto;
} */

/* gen settings */
/* a {
  text-decoration: none;
  padding: 0;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
} */

/* nav container */
/* .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* nav */

/* .header {
  display: flex;
  align-items: center;
} */

/* logo */
/* 
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--start {
  color: var(--accent-color);
}

.logo--end {
  color: #212121;
} */

/* end logo */

/* <-- nav__item start --> */

/* .nav__list {
  position: relative;
  display: flex;
  margin-left: 93px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.nav__link__marker {
  position: relative;
}

.nav__link__marker::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;

  border-radius: 2px;
  background-color: transparent;

  margin-bottom: -1px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link__marker:hover::after,
.nav__link__marker:focus::after {
  background-color: var(--accent-color);
}

.nav__link__marker--on::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  background-color: var(--accent-color);
} */

/* <-- nav__item end --> */

/* .contact-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.contact-nav__item + .contact-nav__item {
  margin-left: 50px;
}

.contact-nav__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav__pic {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
  text-decoration: none;
  fill: var(--as-main-button-color);
} */

/* nav end */

/* hero */

/* .pre-hero__line {
  background-color: rgba(236, 236, 236, 1);
  height: 1px;
} */

/* .hero {
  display: block;
  text-align: center;
  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/Img-hero-hover.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: rgba(255, 255, 255, 1);
}

.hero__headline {
  padding-top: 200px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  box-sizing: border-box;
  cursor: pointer;

  background-color: var(--as-main-button-color);
  border: 0 solid var(--as-main-button-color);
  border-radius: 4px;

  margin-top: 30px;
  text-align: center;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-bottom: 200px;
}

.hero__button__text {
  color: var(--button-hover-text);

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
} */

/* hero end */

/* benefits */

/* .benefits {
  display: flex;
  justify-content: space-between;
  list-style: none;

  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 0;
}

.benefits__item::before {
  content: "";
  height: 120px;
  display: block;

  background-color: rgba(245, 244, 250, 1);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits__item--aerial::before {
  background-image: url("../images/benefits/benefits-aerial.svg");
}

.benefits__item--clock::before {
  background-image: url("../images/benefits/benefits-clock.svg");
}
.benefits__item--diagarm::before {
  background-image: url("../images/benefits/benefits-diagram.svg");
}

.benefits__item--astronaut::before {
  background-image: url("../images/benefits/benefits-astronaut.svg");
}

.benefits__itemitem + .benefits__item {
  margin-left: 30px;
}

.benefits__item {
  width: 270px;
}

.benefits__title {
  color: #212121;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;

  margin-top: 10px;
  margin-bottom: 0;
} */

/* benefits end */

/* whatwedo index.html */

/* .whatwedo {
  margin-top: 94px;
} */

/* .whatwedo__headline {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  padding-bottom: 50px;
}

.whatwedo__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.whatwedo__item {
  margin-bottom: -10px;
  position: relative;
}

.whatwedo__item + .whatwedo__item {
  margin-left: 30px;
}

.whatwedo__item__title {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  vertical-align: 50%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  

  color: #ffffff;

  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8) 0%,
    rgba(47, 48, 58, 0.8) 100%
  );

  margin-bottom: 7px;
  margin-top: 0;
} */

/* our-team index.html */

/* .our-team {
  background-color: #f5f4fa;
  margin-top: 94px;
}

.our-team__headline {
  display: block;
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 94px;
}

.our-team__list {
  display: flex;
  justify-content: space-between;
  list-style: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  padding-left: 0;

  margin: 0 0;
  padding-top: 50px;
  padding-bottom: 94px;
}

.our-team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team__photo {
  margin-bottom: -5px;
}

.our-team__name + .our-team__name {
  padding-left: 30px;
}

.our-team__personal {
  background-color: var(--button-hover-text);
  border-radius: 0px 0px 4px 4px;
}

.our-team__name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 30px;

  margin: 0 auto;
}

.our-team__job {
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 16px;
}

.our-team__social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-team__social__link {
  height: 44px;
  width: 44px;
  fill: var(--social-base-color);
  border-radius: 50%;
  padding: 0;
  margin-bottom: 30px;
  background-position: center;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__social__link:hover,
.our-team__social__link:focus {
  fill: #fff;
  background-color: var(--as-main-button-color);
}

.our-team__social__list + .our-team__social__list {
  margin-left: 10px;
}

.our-team__social__list:first-child {
  margin-left: 32px;
}

.our-team__social__list:last-child {
  margin-right: 32px;
} */

/* end our-team index.html */

/* --start-- customer */

/* .customer__headline {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 94px;
}

.customer__list {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
  padding-bottom: 94px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

.customer__item {
  display: inline-block;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  object-fit: cover;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__name {
  width: 106px;
  height: 60px;
  position: absolute;
}

.customer__item + .customer__item {
  margin-left: 30px;
}

.customer__item {
  padding: 16px 32px;
}

.customer__name {
  fill: var(--social-base-color);
  border-color: var(--social-base-color);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__name:hover,
.customer__name:active {
  fill: var(--as-main-button-color);
}

.customer__item:hover,
.customer__item:active {
  border: 1px solid var(--as-main-button-color);
} */

/* --end-- customer */

/* footer */

/* .footer {
  box-sizing: border-box;
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
}

.footer--position {
  display: flex;
  justify-content: space-between;
}

.footer__adress {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__adress__street {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__adress__contact {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.footer__first {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-right: 70px;
}

.footer__second {
  padding-left: 0;
  padding-right: 93px;
  padding-top: 5px;
  list-style: none;
  margin: 0;
}

.footer__title {
  color: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
}

.footer__second__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

.footer__second__list + .footer__second__list {
  padding-left: 10px;
}

.footer__second__link {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  fill: var(--primary-bg-color);
  border-radius: 50%;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__second__link:hover,
.footer__second__link:focus {
  fill: #ffffff;
  background-color: var(--as-main-button-color);
}

.footer__third {
  padding-top: 5px;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
.footer__subscribe {
  display: flex;
  justify-content: flex-end;
}

.footer__subscribe__label {
  display: flex;
  padding-top: 20px;
}

.footer__subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--primary-bg-color);

  padding: 15px 0 15px 16px;
  margin-right: 12px;
}

.footer__subscribe__button {
  position: relative;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0ch;
  padding: 0;
  margin-top: 20px;
}

.footer__subscribe__button--text {
  color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 62px 10px 28px;
  margin: 0;
}

.footer__subscribe__button--text::after {
  content: "";
  position: absolute;

  height: 24px;
  width: 24px;
  top: 13px;
  margin-left: 10px;
  margin-right: 28px;

  background-image: url(../images/svg/icon-send.svg);
} */

/* footer end */

/* .list {
  list-style: none;
} */

/* .button-portfolio {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.button-portfolio__item + .button-portfolio__item {
  margin-left: 8px;
}

.button-portfolio__item {
  box-sizing: border-box;
  cursor: pointer;

  color: rgba(33, 33, 33, 1);
  background-color: rgba(245, 244, 250, 1);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0 solid rgba(245, 244, 250, 1);
  border-radius: 4px;

  margin-bottom: 0;
  padding: 6px 22px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio__item:hover,
.button-portfolio__item:focus {
  color: var(--button-hover-text);
  background-color: var(--accent-color);

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
} */

/* end buttons-portfolio portfolio.html  */

/* product__example portfolio.html   */

/* buttons-portfolio portfolio.html  */

/* end product__example portfolio.html */

/* .product__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 0;
}

.product__item {
  margin-bottom: 30px;
  margin-right: 30px;
  border: 0;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__element {
  position: relative;
  overflow: hidden;
}

.product__item:hover,
.product__item:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.product__element--overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__item:hover .product__element--overlay {
  transform: translateY(0%);
}
.product__item:focus .product__element--overlay {
  transform: translateY(0%);
}

.product__info {
  display: block;
  box-sizing: border-box;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  margin-top: -10px;
}

.product__title {
  display: block;
  color: rgba(33, 33, 33, 1);

  font-family: Roboto;
  font-style: 700;
  font-size: 18px;

  text-align: Left;
  letter-spacing: 0.06em;

  padding-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.product__example {
  font-weight: 400;
  font-size: 16px;

  color: rgba(117, 117, 117, 1);
  letter-spacing: 0.03em;

  padding-top: 4px;
  padding-bottom: 20px;
  margin: 0 24px;
}

.product__grid > li:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}

.product__grid:nth-last-child(-n + 3) {
  padding-bottom: 94px;
}

.product__item:nth-child(3n) {
  margin-right: 0;
} */

/* - - modal window - - */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;

  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-end;
}

.modal__close__button {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  height: 30px;
  width: 30px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  margin-top: 8px;
  margin-right: 8px;
  fill: var(--secondary-text-color);
}

.modal__close__button:focus,
.modal__close__button:hover {
  fill: var(--accent-color);
}

.modal__close__link {
  position: absolute;

  top: 50%;
  left: 8px;
  transform: translateY(-50%);

  display: inline-block;
  width: 11px;
  height: 11px;
}

.modal__headline {
  display: block;
  padding: 2px 40px 12px 40px;
  width: 100%;

  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__form {
  display: block;
  padding: 0 40px 40px 40px;
}

.form__label {
  display: block;
  margin: 0;
  padding: 0 0 4px 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__comment {
  width: 100%;
  height: 134px;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__comment textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-bottom: 30px;
  padding: 0;
}

.agreement__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.agreement__terms {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  line-height: 1;
}

.agreement__text a {
  color: var(--accent-color);
  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 0.95;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__checkbox {
  display: inline-block;
  box-sizing: border-box;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .agreement__checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/modal/modal-icon-check.svg);

  background-size: contain;
  background-origin: border-box;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.input-relative {
  position: relative;
  display: block;
}

.form__input {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 12px 10px 12px 42px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  fill: var(--secondary-text-color);
}

.form__icon {
  position: absolute;
  cursor: pointer;

  top: 65%;
  left: 15px;
  transform: translateY(-50%);

  display: inline-block;
  width: 12px;
  height: 12px;
  fill: var(--secondary-text-color);
}

.form__icon:hover,
.form__icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border: 1px solid var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
} */

/* modal button confirm */

/* .modal__confirm-button {
  display: flex;
  justify-content: center;
}

.confirm-button {
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  padding: 10px 50px;
  margin: 0;
  letter-spacing: 0.06em;
}

.confirm-button:hover,
.confirm-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.confirm-button__text {
  font-family: Roboto;
  font-style: normal;

  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-bg-color);
} */

/* - - end modal window - - */ ;
