<ul class="benefits">
    <!-- <h2>Наши преимущества</h2>- -->
    <li class="benefits__item benefits__item--aerial">
        <h3 class="benefits__title">Внимание к деталям</h3>
        <p class="benefits__description">Идейные соображения, а также начало повседневной работы по формированию
            позиции.</p>
    </li>
    <li class="benefits__item benefits__item--clock">
        <h3 class="benefits__title">Пунктуальность</h3>
        <p class="benefits__description">ИЗадача организации, в особенности же рамки и место обучения кадров влечет за
            собой.</p>
    </li>
    <li class="benefits__item benefits__item--diagarm">
        <h3 class="benefits__title">Планирование</h3>
        <p class="benefits__description">Равным образом консультация с широким активом в значительной степени
            обуславливает.</p>
    </li>
    <li class="benefits__item benefits__item--astronaut">
        <h3 class="benefits__title">Современные технологии</h3>
        <p class="benefits__description">Значимость этих проблем настолько очевидна, что реализация плановых заданий.
        </p>
    </li>
</ul>