<section class="customer">
    <div class="container">
        <h2 class="customer__headline">Постоянные клиенты</h2>
        <ul class="customer__list">
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-yaco"></use>
                    </svg>
                </a>
            </li>
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-company1"></use>
                    </svg>
                </a>
            </li>
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-company2"></use>
                    </svg>
                </a>
            </li>
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-foster"></use>
                    </svg>
                </a>
            </li>
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-brand"></use>
                    </svg>
                </a>
            </li>
            <li class="customer__item">
                <a href="#">
                    <svg class="customer__name">
                        <use href="./images/regular-customer.svg#icon-tagline"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>