<section class="our-team">
            <div class="container">
                <h2 class="our-team__headline">Наша команда</h2>
                <ul class="our-team__list">
                    <li class="our-team__card">
                        <img class="our-team__photo" src="./images/card-photo-igor.jpg" alt="Product Designer" width="270" height="260" />
                        <div class="our-team__personal">
                            <p class="our-team__name">Игорь Демьяненко</p>
                            <p class="our-team__job">Product Designer</p>
                            <ul class="our-team__social">
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-instagram"></use>
                                    </svg>
                                    </a>
                                </li>                                    
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-twitter"></use>
                                    </svg>
                                    </a>
                                </li>                                    
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-facebook"></use>
                                    </svg>
                                    </a>
                                </li>                                    
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-linkedin"></use>
                                    </svg>
                                    </a>
                                </li>                                   
                            </ul>
                        </div>
                    </li>
                    <li class="our-team__card">
                        <img class="our-team__photo" src="./images/card-photo-olena.jpg" alt="Frontend Developer" width="270" height="260" />
                        <div class="our-team__personal">
                            <p class="our-team__name">Ольга Репина</p>
                            <p class="our-team__job">Frontend Developer</p>
                            <ul class="our-team__social">
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-instagram"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-twitter"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-facebook"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-linkedin"></use>
                                    </svg>
                                    </a>
                                 </li>
                            </ul>
                        </div>
                    </li>
                    <li class="our-team__card">
                        <img class="our-team__photo" src="./images/card-photo-mukola.jpg" alt="Marketing" width="270" height="260" />
                        <div class="our-team__personal">
                            <p class="our-team__name">Николай Тарасов</p>
                            <p class="our-team__job">Marketing</p>
                            <ul class="our-team__social">
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-instagram"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-twitter"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-facebook"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-linkedin"></use>
                                    </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="our-team__card">
                        <img class="our-team__photo" src="./images/card-photo-mukhailo.jpg" alt="Product Designer" width="270" height="260" />
                        <div class="our-team__personal">
                            <p class="our-team__name">Михаил Ермаков</p>
                            <p class="our-team__job">UI Designer</p>
                            <ul class="our-team__social">
                                <li class="social">
                                    <a href="#">
                                    <svg class="insta-icon link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-instagram"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-twitter"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-facebook"></use>
                                    </svg>
                                    </a>
                                </li>
                                <li class="our-team__social__list">
                                    <a href="#">
                                    <svg class="our-team__social__link" viewBox="0 0 200 100">
                                    <use href="./images/social-icons.svg#icon-linkedin"></use>
                                    </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>