<section class="product-portfolio">
    <ul class="product__grid">
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/technokr.jpg" alt="Технокряк" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Технокряк</h2>
                <p class="product__example">Веб-сайт</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/poster.jpg" alt="Постер New Orlean vs Golden Star" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Постер New Orlean vs Golden Star</h2>
                <p class="product__example">Дизайн</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/restoran.jpg" alt="Ресторан Seafood" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Ресторан Seafood</h2>
                <p class="product__example"> Приложение</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/proekt-prime.jpg" alt="Проект Prime" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Проект Prime</h2>
                <p class="product__example">Маркетинг</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/proekt-boxes.jpg" alt="Проект Boxes" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Проект Boxes</h2>
                <p class="product__example">Приложение</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/inspiration.jpg" alt="Inspiration has no Borders" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Inspiration has no Borders</h2>
                <p class="product__example">Веб-сайт</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/izdanie.jpg" alt="Издание Limited Edition" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Издание Limited Edition</h2>
                <p class="product__example">Дизайн</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/proekt-lab.jpg" alt="Проект LAB" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Проект LAB</h2>
                <p class="product__example">Маркетинг</p>
            </div>
        </li>
        <li class="product__item">
            <div class="product__element">
                <a href="#">
                    <div class="product__element--overlay">
                        <p>Технокряк это современная площадка распространения коронавируса. Компании используют эту
                            платформу для цифрового
                            шпионажа и атак на защищённые сервера конкурентов.</p>
                    </div>
                    <img src="./images/growing-business.jpg" alt="Growing Business" width="370" height="294" />
                </a>
            </div>
            <div class="product__info">
                <h2 class="product__title">Growing Business</h2>
                <p class="product__example">Приложение</p>
            </div>
        </li>
    </ul>
</section>
</div>