<div class="whatwedo">
    <h2 class="whatwedo__headline">Чем мы занимаемся</h2>
    <ul class="whatwedo__list">
        <li class="whatwedo__item">
            <img src="./images/photo-coding.jpg" alt="Верстка сайта" width="370" height="294" />
            <p class="whatwedo__item__title">Десктопные приложения</p>
        </li>
        <li class="whatwedo__item">
            <img src="./images/photo-app.jpg" alt="Написание приложений" width="370" height="294" />
            <p class="whatwedo__item__title">Мобильные приложения</p>
        </li>
        <li class="whatwedo__item">
            <img src="./images/photo-design.jpg" alt="Разработка дизайна" width="370" height="294" />
            <p class="whatwedo__item__title">Дизайнерские решения</p>
        </li>
    </ul>
</div>